html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  font-family: 'Inconsolata', monospace;
  /* set default font family */
}

#name {
  font-family: 'Courgette', cursive;
}

.block-font, h1, h2, h3, h4, h5, h6, q {
  font-family: 'Julius Sans One', sans-serif;
}

html, body {
  background-color: #342e2e;
}

.divider {
  margin: 20px 0 50px 0;
  height: 20px;
  /* scale down image */
}

.fixed {
  position: fixed !important;
  top: 0;
  bottom: auto;
}

img {
  display: block;
  image-orientation: from-image;
  /* take image orientation from metadata */
}

/* ============ BUTTONS ============ */
[class^=box-button] {
  text-decoration: none;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid;
}

/* ------ Size ------ */
[class^=box-button-lg] {
  font-size: 2em;
  border-width: 3px;
}

/* ------ Theme ------ */
/* --- dark --- */
[class^=box-button][class$=-dark] {
  border-color: #342e2e;
  color: #342e2e;
}

[class^=box-button][class$=-dark]:hover {
  background-color: #342e2e;
  color: whitesmoke;
}

/* --- light --- */
[class^=box-button][class$=-light] {
  border-color: whitesmoke;
  color: whitesmoke;
}

[class^=box-button][class$=-light]:hover {
  background-color: whitesmoke;
  color: #342e2e;
}

/* ============ FILTERS ============ */
[class^=filter] {
  width: 100%;
  height: 100%;
}

/* ------ Theme ------ */
/* --- light --- */
[class^=filter][class$=-light] {
  background-color: rgba(248, 248, 255, 0.75);
}

/* ============ GALLERY ============ */
.gallery {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.gallery img {
  padding-top: 4px;
}

/* ============ LANDING ============ */
#landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* center column along cross axis */
  height: 100vh;
  /* force section to take the full viewer height */
  background: url('../images/photos/img_019.jpg') fixed;
  background-size: cover;
  /* fill via smallest image dimension (width or height) */
  font-size: 1.4em;
}

#landing h1 {
  margin-top: auto;
  /* vertical centering */
  padding-bottom: 1%;
  color: whitesmoke;
  font-size: 2em;
  font-weight: 100;
}

#landing > a {
  font-size: 0.8em;
}

#landing nav {
  margin-top: auto;
  /* position at the bottom of #landing */
  display: flex;
  flex-direction: row;
  height: 75px;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.8);
  z-index: 100;
}

#landing nav ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  list-style: none;
  /* take away bullet points */
}

#landing nav ul li {
  flex: 1;
  /* space each item equally */
  display: flex;
  flex-direction: row;
  font-size: 1.3em;
  color: black;
}

#landing nav ul li:hover {
  color: whitesmoke;
  background-color: rgba(52, 46, 46, 0.8);
}

#landing nav ul li a {
  margin: auto;
  /* center anchor in list item */
  display: flex;
  /* center text in anchor */
  align-items: center;
  justify-content: center;
  /* make anchor fill list item */
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

/* ============ ABOUT ============ */
#about {
  display: flex;
  flex-direction: row;
  background-color: burlywood;
  color: #161e1a;
}

#about img {
  height: 70vh;
  /* scale down image */
}

#about article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about article h2 {
  font-size: 3em;
  margin-bottom: 50px;
}

#about article p {
  padding: 0 100px;
  line-height: 150%;
}

/* ============ MISSION QUOTE ============ */
#mission-quote {
  height: 55vh;
  background: url('../images/photos/img_070.jpg') fixed;
  background-size: cover;
}

#mission-quote div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: rebeccapurple;
  font-size: 2.5em;
}

#mission-quote div q {
  margin-right: 10%;
  width: 65%;
  text-align: right;
  font-weight: 800;
}

#mission-quote div span {
  margin-right: 30%;
  margin-top: 20px;
}

/* ============ MAIN ============ */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
}

main #home-gallery {
  width: 80%;
}

main h2 {
  margin-top: 75px;
  font-size: 4em;
}

main img {
  height: 325px;
}

main a {
  margin: 50px 0;
}

/* ============ CONTACT ============ */
#contact {
  display: flex;
  flex-direction: column;
  height: 80vh;
  background: url('../images/photos/img_075.jpg') fixed;
  background-size: cover;
}

#contact div {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgba(52, 46, 46, 0.5);
}

#contact div dl {
  margin: auto;
  padding: 50px;
  color: whitesmoke;
}

#contact div dl dt {
  color: antiquewhite;
  margin-bottom: 5px;
  font-size: 1.6em;
}

#contact div dl dd {
  margin-left: 30px;
  margin-bottom: 30px;
  font-size: 2em;
}

/* ============ FOOTER ============ */
footer {
  height: 20vh;
  background-color: #342e2e;
}
